.product img {
    width: 200px;
    height: 200px;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.form input {
    widows: 300px;
    height: 30px;
}